!!!
%html
	%head
		%meta{ :charset=>'utf-8' }
		%title SinWizualizator
		=csrf_meta_tag
		=stylesheet_link_tag 'application'
	%body
		#container
			=yield
			%p
				=link_to "Informacje", "/about.html"
			%p
				Przykładowe dane odczytane niepoprawnie: 188, 221, 227, 644, 1518